<launch>
  <arg name="ns" default="/kulbu" />
  <arg name="topic_odom" default="$(arg ns)/odometry/filtered" />
  <arg name="topic_cmd_vel" default="$(arg ns)/diff_drive_controller/cmd_vel" />

  <!-- ROS navigation stack move_base -->
  <group ns="planner">

    <!-- TODO: Use points from obstacle detection. -->
    <!--remap from="openni_points" to="/planner_cloud" /-->
    <remap from="base_scan" to="$(arg ns)/scan" />
    <remap from="move_base_simple/goal" to="/move_base_simple/goal" />

    <remap from="map"       to="/map" />
    <remap from="cmd_vel"   to="$(arg topic_cmd_vel)" />
    <remap from="odom"      to="$(arg topic_odom)" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
      <rosparam file="$(find kulbu_movebase)/config/move_base.yaml"       command="load" />
      <rosparam file="$(find kulbu_movebase)/config/costmap_common.yaml"  command="load" ns="global_costmap" />
      <rosparam file="$(find kulbu_movebase)/config/costmap_common.yaml"  command="load" ns="local_costmap" />
      <rosparam file="$(find kulbu_movebase)/config/costmap_local.yaml"   command="load" />
      <rosparam file="$(find kulbu_movebase)/config/costmap_global.yaml"  command="load" />
      <rosparam file="$(find kulbu_movebase)/config/planner_base_local.yaml" command="load" />
    </node>

    <!--param name="cmd_vel/abtr_priority" value="10"/-->
  </group>

  <!-- Arbitration between teleop and planner
  <node name="register_cmd_eta" pkg="abtr_priority" type="register"
      args="/cmd_eta /teleop/cmd_eta"/>
  <node name="register_cmd_vel" pkg="abtr_priority" type="register"
      args="/cmd_vel /planner/cmd_vel"/>
      -->

</launch>
